body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-primary-dark;
    padding: 3rem;
}

.header-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;

    /* this is a fix to prevent shaky animation */
    backface-visibility: hidden;

    &--main {
        display: block;
        font-weight: 400;
        font-size: 6rem;
        letter-spacing: 3.5rem;
    
        animation: moveInLeft .5s ease-out;
        animation-fill-mode: backwards;
    }
    
    &--sub {
        display: block;
        font-weight: 700;
        font-size: 2rem;
        letter-spacing: 1.74rem;
    
        animation: moveInRight .5s ease-out .5s; 
        animation-fill-mode: backwards;
        /* animation-delay: 1s; */
        /* animation-iteration-count: 2; */
        /* animation-timing-function: ease-out; */
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    background-clip: text;
    -webkit-background-clip: text;
    letter-spacing: .2rem;
    color: transparent;
    transition: all .2s;

    &:hover {
        transform: skewY(2deg) skewX(10deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child){
        margin-bottom: 3rem;
    }
}